<!-- Company details page -->

<h1><%= @company["name"] %></h1>

<h1><%= @company["city"] %>, <%= @company["state"] %></h1>

<h3>Contacts</h3>

<%contacts = Contact.where [{"company_id" => @company["id"] }]%>

<ul>
  <% for contact in @contacts %>
    <li>
    <%= contact["first_name"]%>
    <%= contact["last_name"]%>
    </li>

</ul>

<p>
  <a href="/contacts/new?company_id=<%>">New Contact</a>
</p>

<p>
  <a href="">Back to All Companies</a>
</p>